<section class="rooms">
  <mat-card *ngFor = "let room of rooms">
    <img [src]="room?.roomImage">
    <div>
      <h3>Room type: {{room.roomType}}</h3>
      <h3>Room price: {{room.price}}</h3>
      <h3>Facilities:{{room.facilities}} </h3>
      <button mat-button (click)="reserve(room)">Reserve</button>
    </div>

  </mat-card>
</section>
