.rooms mat-card {
  height: 15rem;
  width: 30rem;
  display: flex;
  justify-content: space-between;

  h3 {
    margin: 0;
  }

  > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    padding-left: 1rem;
  }

  img {
    width: 50%;
    height: 100%;
  }

  button {
    border-radius: 5px;
    border-style: solid;
    width: 6rem;
    margin-left: auto;
  }
}

