<main>
  <nav *ngIf="url !== 'login'">
    <button mat-button [routerLink] = "['home']">Home</button>
    <button mat-button [routerLink] = "['reservations']">Cancel Reservation</button>
  </nav>
  <router-outlet></router-outlet>
</main>
