.searchBar {
  display: flex;
  margin-top: 150px;
  border: solid brown;
  width: 1200px;

  > * {
    padding: 0 2rem;
  }
}

.searchSection {
  display: flex;
  margin: 2rem 0;
}

.searchSection > .searchBar {
  margin: auto;
}

.searchResults {
  display: flex;
  flex-direction: column;
}

.searchResults mat-card {
  height: 15rem;
  width: 30rem;
  display: flex;
  margin: auto;
  margin-bottom: 1rem;

  img {
    width: 15rem;
    height: 15rem;
  }

  > div {
    padding-left: 1rem;
    width: 100%;
  };

  .nameAndRating{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.filter{
  margin-right: 12rem;
}
.filter button{
  border-radius:5px;
  border-style:solid ;
  width: 150px;
  margin-right:-10rem
}

.historyButton {
  border-radius:5px;
  border-style:solid ;
  width: 200px;
  margin-right: -10rem;
}
