<section class="searchSection">
  <div class="searchBar">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Destination" [(ngModel)]="location" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="checkIn" placeholder="Choose a date" [(ngModel)]="checkInDate"
             [ngModelOptions]="{standalone: true}">
      <mat-datepicker-toggle matSuffix [for]="checkIn"></mat-datepicker-toggle>
      <mat-datepicker #checkIn></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="checkOut" placeholder="Choose a date" [(ngModel)]="checkOutDate"
             [ngModelOptions]="{standalone: true}">
      <mat-datepicker-toggle matSuffix [for]="checkOut"></mat-datepicker-toggle>
      <mat-datepicker #checkOut></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Number of persons" [(ngModel)]="numberOfPersons" [ngModelOptions]="{standalone: true}">
        <mat-option *ngFor="let number of numbers" [value]="number">
          {{number}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="search()">Search</button>
  </div>

  <div class="filter">
    <mat-form-field>
      <mat-select placeholder="Option" [(ngModel)]="filter" [ngModelOptions]="{standalone: true}">
        <mat-option *ngFor="let filter of filters" [value]="filter">
          {{filter.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Filter" [disabled]="!filter">
        <mat-option *ngFor="let option of filter?.options" (click)="returnByFilter(filter, option)">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button *ngIf = "showPriceHistory" (click)="showHistory()">Show price history</button>

  </div>
</section>



<section class="searchResults"  *ngIf="hotelWithDistance">
  <mat-card *ngFor="let hotel of hotels">
    <img [src]="hotel?.imageUrl" alt="">
    <div>
      <div class="nameAndRating" (click)="navigateToHotel(hotel)">
        <h3>{{hotel.name}}</h3> <mat-icon *ngFor="let star of hotel.starsArray">star_rate</mat-icon>
      </div>
      <H3>Facilities: {{hotel.facilities}}</H3>
    </div>
  </mat-card>
</section>

<section class="searchResults" *ngIf="!hotelWithDistance">
  <mat-card *ngFor="let hotel of hotels">
    <img [src]="hotel.hotel?.imageUrl" alt="">
    <div>
      <div class="nameAndRating" (click)="navigateToHotel(hotel.hotel)">
        <h3>{{hotel.hotel.name}}</h3> <mat-icon *ngFor="let star of hotel.starsArray">star_rate</mat-icon>
      </div>
      <h3>Facilities : {{hotel.hotel.facilities}}</h3>
      <h3>Distance: {{hotel.distance.toFixed(2) }} km </h3>
    </div>
  </mat-card>
</section>






