<mat-card>
  <h2>Login</h2>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" value="mockUsername">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" value="mockPassword">
    </mat-form-field>
    <button mat-button (click)="login()">Login</button>
  </form>
</mat-card>
