<section class="reservations">
<mat-card *ngFor = "let reservation of reservations;let i = index">
  <img [src] = "reservation?.reservedRoom.roomImage">
  <div>
  <h3>Check in: {{reservation.checkIn | date: 'dd-MM-yyyy'}}</h3>
  <h3>Check out: {{reservation.checkOut| date:'dd-MM-yyyy'}} </h3>
  <h3>Hotel: {{reservation.hotel.name}}</h3>
  <h3>Price:{{reservation.reservedRoom.price}}</h3>
  <h3>Room type: {{reservation.reservedRoom.roomType}}</h3>
  <h3>Location: {{reservation.hotel.locationId.locationName}}</h3>
    <button mat-button (click)="removeReservation(reservation, i)"> Cancel </button>

    </div>

</mat-card>
</section>
